body {
	padding: 6px 6px 46px;
}

#content {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 2fr 1fr;
}

#content input {
	width: 100%;
}

#content h3,
#content p,
#content .full-width {
    grid-column: 1 / 3;
    margin-bottom: 6px;
    margin-top: 0;
}

button {
	background-color: #7289da;
	border: none;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	line-height: 1em;
	padding: 4px 10px;
	text-transform: uppercase;
}

button:hover {
	background: #4a67cf;
}

#buttons {
	background: white;
    bottom: 0;
    height: 20px;
    left: 0;
    margin: 0;
    padding: 6px 16px 16px;
    position: fixed;
    right: 0;
}

#status {
	color: #7289da;
	font-style: italic;
}

textarea {
    height: auto;
    margin-bottom: 0;
	margin-top: 6px;
	width: 100%;
}
